<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About me</a></li>
	        		<li><a href="/cv">Research work</a></li>
	        		<li><a href="/blog">Professional experience</a></li>
				<li><a href="/blog">Education</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adiezolivan@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/alberto-diez-olivan-56830a10/">Linkedin</a></li>
				<li><a href="https://scholar.google.es/citations?hl=es&user=l2ycxmwAAAAJ&view_op=list_works/">Google Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
